<div class="card">
    <div class="card-header">
        Form Edit Data id = {{id}}
    </div>
    <div class="card-body">    
         <div class="form-group">
            <input type="text" name="nama" id="alamat" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="alamat" id="" class="form-control"></textarea>
        </div>
    </div>
    <div class="card-footer text-right">
        <a href="" class="btn btn-light">Kembali</a>
        <button type="submit" class="btn btn-primary">Ubah Data</button>
    </div>
</div>